footer {
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 100px 0;
    margin: auto;
    gap: 20px;
    color: white;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    gap: 20px;

}

footer ul li {
    display: flex;
}

.footer-nav {
    justify-self: flex-start;
}

.footer-contact {
    justify-self: center;
}

.footer-social {
    justify-self: flex-end;
}

footer a {
    color: var(--secondary-color);
    ;
}

footer a:hover {
    color: white;
    border-bottom: 2px solid white;
}


/* Hide on medium screens */
@media (max-width: 992px) {
    footer {
        padding: 50px 20px;
    }
}


/* Hide on medium screens */
@media (max-width: 700px) {
    footer {
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    footer ul li {
        align-self: center;
    }
}

/* Show on medium screens */
@media (min-width: 992px) {}