body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: #495E57;
  --secondary-color: #F4CE14;
  --max-width: 800px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

a:hover,
a:active,
a:focus {
  border-bottom: 2px solid var(--primary-color);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  padding: 15px 25px;
  border-radius: 16px;
  border: 0px;
}

button:hover {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-color);
}

.btnlink,
.btnlink:hover{
  border: none;
}

.container{
  width: 100%;
}
.container.testimonials,
.container.footer{
  background-color: var(--primary-color);
}

/* Hide on medium screens */
@media (max-width: 992px) {
}


/* Hide on medium screens */
@media (max-width: 768px) {

    h1 {
      font-size: 36px;
    }
    
    h2 {
      font-size: 24px;
    }
    button{
      font-size: 14px;
    }
  
}

/* Show on medium screens */
@media (min-width: 992px) {


}